body {
  background-color: white;
  color: #400080;
  font-family: "Cambria Math", "Cambria", "Chivo Mono", "Helvetica", fantasy;
  font-weight: lighter;
  padding: 54px;
}
.normal-text {
  font-size: 1.5rem;
}
h1 {
  font-size: 1.875rem;
}
.menu-link {
  color: white;
  background-color: #400080;
  padding: 6px;
}
.quotation {
  font-size: 1rem;
}
.attribution {
  text-align: end;
  font-size: 1rem;
}
h2 {
  font-size: 1rem;
}
