<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" media="screen" href="/assets/styles/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% assign cacheBust = site.time | date:'?v=%s' %}
    <link rel="stylesheet" media="screen" href="{{ "/assets/styles/styles.css" | relative_url | append: cacheBust }}">
  </head>
  <body>
    <div id="menu-div">
      <a href="/">
        <img id="logo-favicon" src="/assets/images/favicon/favicon-1024x1024.png" alt="Purple pentagon with gray J favicon">
      </a>
      <div class="dropdown-container">
        <button class="menu" onclick="toggleDropdown('lists-dropdown')">Assorted Lists and Galleries ▼</button>
        <div id="lists-dropdown" class="dropdown-links">
          <a class="menu-item" href="/math-quotations/">Math Quotations</a>
          <a class="menu-item" href="/good-xkcd-comics/">Good xkcd Comics</a>
          <a class="menu-item" href="/gabby/">Gabby Photos</a>
                <a class="menu-item" href="/links/">Links</a>
        </div>
      </div>
      <div class="dropdown-container">
        <button class="menu" onclick="toggleDropdown('interactive-dropdown')">Interactive Resources ▼</button>
        <div id="interactive-dropdown" class="dropdown-links">
          <a class="menu-item" href="/wysitutwyg-editor/">WYSITUTWYG Editor</a>
          <a class="menu-item" href="/dozenal/">Dozenal Multiplication Tables Practice</a>
          <a class="menu-item" href="/encoder-decoder/">Jude's Base-26 Encoder Decoder</a>
        </div>
      </div>
      <div class="dropdown-container">
        <button class="menu" onclick="toggleDropdown('about-dropdown')">About ▼</button>
        <div id="about-dropdown" class="dropdown-links">
          <a class="menu-item" href="/about/">About</a>
          <a class="menu-item" href="/contact/">Contact</a>
        </div>
      </div>
    </div>
    {{ content }}
    <footer id="footer">
      <p>© 2025 Jude Anders</p>
    </footer>
    <script src="/assets/scripts/dropdowns.js"></script>
  </body>
</html>